.project-form-container {
	background-color: white;
	border-radius: 10px;
	padding: 20px 10px;
	display: flex;
	flex-direction: column;
	width: 90%;
}

.project-form-container h1 {
	padding: 0px 10px;
}

@media (min-width: 600px) {
	.project-form-container {
		width: 60%;
	}
}

.project-form {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.project-form input,
.project-form textarea {
	margin: 10px 0px;
}

.project-btn-container {
	display: flex;
	justify-content: center;
}

/* .add-project-btn {
	margin: auto;
} */
